*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #333;
	font-family: 'Montserrat', sans-serif;
}

body
{
	padding: 1.2rem;
	font-size: 20px;
	max-width: 100%;
}

#container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
}

section
{
	outline: 1px solid rgba(212, 211, 207, 1);
	padding: 0.5rem;
}

h1
{
	text-align: center;
	padding: 0.3rem;
}

h2
{
	padding: 0.5rem 0;
}

label, input
{
	display: block;

}

input
{
	margin: 0.3rem auto 1.3rem auto;
	outline: 1px solid rgba(0, 0, 0, 0.5);
	border: none;
	padding: 0.7rem 0.5rem;
	width: 90%;
}


#calcular
{
	outline: none;
	border: none;
	background: rgba(255, 118, 2, 1.0);
	font-size: 18px;
	color: white;
	font-weight: 300;
	display: block;
	margin: 0.8rem auto;
	padding: 0.6rem 1.2rem;
	width: 50%;
	border-radius: 8px;
}
